<h3>Payments</h3>

<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Date</th>
    <th>Sum</th>
    <th>Invoice</th>
  </tr>
  </thead>
  <tbody>
  <% current_student.payments.each do |payment| %>
    <tr>
      <th><%= payment.id %></th>
      <td><%= l(payment.created_at.to_date) %></td>
      <td><%= number_to_currency(payment.sum) %></td>
      <td>
        #<%= payment.invoice.id %>, <%= l(payment.invoice.created_at.to_date) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
