<% first_amateur = true %>

<h2>Dance Courses</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Lessons per week</th>
      <th>Price</th>
      <th>Price with discount</th>
      <th>Tuition</th>
      <th>Leveling</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <% if 'Amateur' == plan.name %>
          <% if first_amateur %>
            <th rowspan="<%= DancePlan.where(name: 'Amateur').count %>">
              <%= plan.name %>
            </th>
            <% first_amateur = false %>
          <% end %>
        <% else %>
          <th><%= plan.name %></th>
        <% end %>
        <td><%= plan.lessons_per_week || 'Unlimited' %></td>
        <td><%= number_to_currency(plan.price) %></td>
        <td><%= number_to_currency(plan.price_with_discount) || 'N/A' %></td>
        <td><%= number_to_currency(plan.tuition) %></td>
        <td><%= number_to_currency(plan.leveling) || 'Free' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<h2>Other Courses</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Price per lesson</th>
    </tr>
  </thead>
  <tbody>
    <% OtherPlan.all.each do |plan| %>
      <tr>
        <th><%= plan.name %></th>
        <td><%= number_to_currency(plan.price_per_lesson) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
