<% first_amateur = true %>

<h2>Cursos de baile</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Lecciones por semana</th>
      <th>Precio</th>
      <th class="price-column">Precio con descuento</th>
      <th>Matrícula</th>
      <th>Nivelación</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <% if 'Amateur' == plan.name %>
          <% if first_amateur %>
            <th rowspan="<%= DancePlan.where(name: 'Amateur').count %>">
              <%= plan.name %>
            </th>
            <% first_amateur = false %>
          <% end %>
        <% else %>
          <th><%= plan.name %></th>
        <% end %>
        <td><%= plan.lessons_per_week || 'Ilimitado' %></td>
        <td><%= number_to_currency(plan.price) %></td>
        <td class="price-column"><%= number_to_currency(plan.price_with_discount) || 'N/A' %></td>
        <td><%= number_to_currency(plan.tuition) %></td>
        <td><%= number_to_currency(plan.leveling) || 'Gratis' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Otros cursos</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Precio por lección</th>
    </tr>
  </thead>
  <tbody>
    <% OtherPlan.all.each do |plan| %>
      <tr>
        <th><%= plan.name %></th>
        <td><%= number_to_currency(plan.price_per_lesson) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
