<!DOCTYPE html>
<html>
<head>
  <title>AidahManaar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<ul>
  <li><%= render 'shared/login' %></li>
  <li><%= render 'shared/registration' %></li>
</ul>

<%= yield %>

</body>
</html>
